h1 {
	color:  black;
	text-align: center;
	font-family: monospace;
	  text-shadow: 5px 8px 10px;
	 font-weight: bolder;
	font-size: 400%;

}
form {
	color: black;

	text-align: center;
	font-size: 100%
	font-weight:bold;
	align-content: center;
	font-family: monospace;

}
head{

	zoom: 350%;
	font-weight: bold;
	font-family: monospace;

}
	
	
h4
{
	font-family: monospace;
	text-align: center;
	font-size: 150%;
}
label{
	font-weight: bold;
		}
html { 
 	background-image: url(https://image.freepik.com/free-photo/design-space-paper-textured-background_53876-42312.jpg);
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: fill;
  background-repeat: no-repeat;
  background-size: cover;
 
 

}
body
{
	
}
