h1 {
	color:  indianred;
	text-align: center;
	font-family: monospace;
	  text-shadow: 5px 8px 10px;
	 font-weight: bolder;
	font-size: 400%;

}
form {
	color: black;

	text-align: center;
	font-size: 100%
	font-weight:bold;
	align-content: center;
	font-family: monospace;
}
head{
	zoom: 350%;
	font-weight: bold;
	font-family: monospace;
	backdrop-filter: blur(5px);
	
	color: black;
}
h4
{
	font-family: monospace;
	text-align: center;
	font-size: 150%;
}
label{
	font-weight: bold;
		}
html { 
 	background-image: url(https://images.unsplash.com/photo-1629904888132-038af9df34ab?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80);
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(5px);
 

}
body
{
	backdrop-filter: blur(5px);
}
