h1 {
	color:  indianred;
	text-align: center;
	font-family: monospace;
	font-size: 400%;
	
}
form {
	color: black;
	
	text-align: center;
	font-size: 100%
	align-content: center;
	font-family: monospace;
}
head{
	zoom: 350%;
	font-weight: bold;
	font-family: monospace;
	
	color: black;
}
h4
{
	font-family: monospace;
	text-align: center;
	font-size: 150%;
		
}
label{
	font-weight: bold;
		
html { 
 	background-image: url("https://www.loriswebs.com/images/texture-images/lightgrayleather.gif");
}
