h1 {
	color: tomato;
	text-align: center;
	font-family: monospace;
	font-size: 300%
}
form {
	color: black;
	text-align: center;
	font-size: 130%;
	align-content: center;
	font-family: monospace;
}
head{
	zoom: 200%;
}
h4
{
	font-family: monospace;
	text-align: center;
}
