h1 {
	color:  indianred;
	text-align: center;
	font-family: monospace;
	font-size: 400%;
}
form {
	color: black;
	text-align: center;
	font-size: 100%
	align-content: center;
	font-family: monospace;
}
head{
	zoom: 350%;
	font-family: monospace;
	color: black;
}
h4
{
	font-family: monospace;
	text-align: center;
	font-size: 150%;
}
